*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url(../img/fondo.png);
  /* Agrego un cursor estilo retro para que combine con el tema de pixeles */
  cursor: url(../img/cursor-retro.png), auto;
}

/* Estos divs son los pixeles */
div {
  background-color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  outline: 1px solid #858786;
  margin: 0;
  padding: 0;
  line-height: 0%;
  position: relative;
  vertical-align: sub;
}

ul li{
  padding: 5px;
  /*Degradado hecho con la ayuda de la página https://www.cssmatic.com/es/gradient-generator#'\ */
  background: rgba(18,117,166,1);
  background: -moz-linear-gradient(left, rgba(18,117,166,1) 0%, rgba(18,117,166,1) 17%, rgba(195,34,95,1) 36%, rgba(230,110,94,1) 61%, rgba(243,168,97,1) 76%, rgba(104,190,141,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(18,117,166,1)), color-stop(17%, rgba(18,117,166,1)), color-stop(36%, rgba(195,34,95,1)), color-stop(61%, rgba(230,110,94,1)), color-stop(76%, rgba(243,168,97,1)), color-stop(100%, rgba(104,190,141,1)));
  background: -webkit-linear-gradient(left, rgba(18,117,166,1) 0%, rgba(18,117,166,1) 17%, rgba(195,34,95,1) 36%, rgba(230,110,94,1) 61%, rgba(243,168,97,1) 76%, rgba(104,190,141,1) 100%);
  background: -o-linear-gradient(left, rgba(18,117,166,1) 0%, rgba(18,117,166,1) 17%, rgba(195,34,95,1) 36%, rgba(230,110,94,1) 61%, rgba(243,168,97,1) 76%, rgba(104,190,141,1) 100%);
  background: -ms-linear-gradient(left, rgba(18,117,166,1) 0%, rgba(18,117,166,1) 17%, rgba(195,34,95,1) 36%, rgba(230,110,94,1) 61%, rgba(243,168,97,1) 76%, rgba(104,190,141,1) 100%);
  background: linear-gradient(to right, rgba(18,117,166,1) 0%, rgba(18,117,166,1) 17%, rgba(195,34,95,1) 36%, rgba(230,110,94,1) 61%, rgba(243,168,97,1) 76%, rgba(104,190,141,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1275a6', endColorstr='#68be8d', GradientType=1 );}
li p{
  font-size: 12px;
  font-weight: 600;
}

button {
  background: #0A2239;
  border: none;
  border-radius: 20px;
  color: #53A2BE;
  font-family: 'Press Start 2P';
  font-size: .7em;
  line-height: 30px;
  display: block;
  width: 100%;
  margin: 15px 5px;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  cursor: pointer;
}
button:hover{
  background: #176087;
  color: #00100B;
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px 10px;
  text-align: left;
}
p {
  text-transform: uppercase;
  font-size: .3em;
  text-align: right;
}
h1 {
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Press Start 2P';
}

h3 {
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: 'Press Start 2P';
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
  padding: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.color-paleta {
  display: inline-block;
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin: 0;
  outline: 1px solid white;
}

.custom {
  color: white;
}

.cursor-personalizado {
  cursor: url(../img/cursor.png), auto;
}
.row {
  margin: 0;
  padding: 0;
}

main {
  width: 25%;
  padding: 0 25px;
}
#grilla-pixeles {
  background-color: white;
  width: 795px;
  height: 495px;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 20px auto;
  justify-content: center;
  flex-direction: row-reverse
}
#container, li, .imgs {
 display: flex;
 align-items:center;
}
.imgs {
  flex-wrap: wrap;
}
.imgs li {
  width: 25%;
  margin: 0;
  align-items: flex-start;
}
img {
  max-width: 100%;
  height: auto;
}
 .input-color li {
   margin: 10px 0;
   justify-content: space-between;
 }
#indicador-de-color {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  margin: 0;
  position: relative;

}

#indicador-de-color-mensaje {
  color: white;
}

#result {
  color: white;
}

#pallette {
  margin-top: 15px;
  background-color: black;
}

@media only screen and (max-width: 1060px) {
  main {
    width: 100%;
  }
  #container {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 795px) {
  main {
    width: 100%;
  }
  #container {
    display: block;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
    #grilla-pixeles {
       width: 477px;
       height: 297px;
    }
    div {
      height: 9px;
      width: 9px;
    }
      .imgs li {
      width: 350px;
      margin: 0 auto
    }
}
@media only screen and (max-width: 375px) {
  #grilla-pixeles {
   width: 320px;
   height: 179px;
  }
  div {
    height: 6px;
    width: 6px;
    }
    .imgs {
      display: block;
    }
     .imgs li {
    width: 100px;
    margin: 0 auto;
  }
}
